fastapi
uvicorn
python-multipart
numpy
pandas
sentence-transformers
pillow
tqdm
mutagen
imagehash
ollama
timm
transformers
accelerate
praw
python-dotenv
google-generativeai
psycopg2-binary
pgvector
boto3
pytest